.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-image: 'url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmI-kSPoAS3X3R9Jsq0rpH2lWOoO6FIXpV-g&s)';
  background-size: cover;
  background-position: center;
  height: 250px; /* Reduced height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0eaed;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.App-body {
  background-color: #45c8c81f;
  min-height: 80vh;
  display: block;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(139, 17, 17);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}